MaxAuthTries 3
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
PasswordAuthentication no 
AllowUsers user
PermitRootLogin no
AllowTcpForwarding yes
Ciphers aes256-ctr
MACs hmac-sha2-512
KexAlgorithms ecdh-sha2-nistp521
Compression no
HostKey /etc/ssh/ssh_host_ed25519_key
AllowAgentForwarding no
KbdInteractiveAuthentication no
